*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
.navbar-header{
  width: 100%;
  padding: 20px 4%;
  /*min-height: 100vh;*/
  z-index: 99;
  position: fixed;
  justify-content: space-between;
  margin: auto;
  display: flex;
  border-bottom: 1px solid #000000;
  background-color: white;
}
p{
  color: blue;
}
ul{
  display: flex;
}
ul li{
  padding: 14px 14px;
}
ul li a{
  color: black;
}
.contain{
  width: 100%;
  padding: 8% 5%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}